<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RiskSense" parallel="none" thread-count="2" verbose="5">
	<test name="Scenarios">
		<classes>
			<class name="testcases.SC01TC01" />
			 <class name="testcases.SC01TC02" />
			<class name="testcases.SC02TC01" />
			<class name="testcases.SC02TC02"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
